<f:layout name="Default" />

<f:section name="PageTitle">Login</f:section>

<f:section name="Content">
	<div class="row">
		<div class="large-6 large-centered columns">
			<h1>Login</h1>
		</div>
	</div>

	<f:flashMessages as="flashMessages">
		<div class="large-4 large-centered columns">
			<f:for each="{flashMessages}" as="flashMessage">
				<div data-alert class="alert-box alert round ">{flashMessage} <a href="#" class="close">&times;</a></div>
			</f:for>
		</div>
	</f:flashMessages>


	<div class="row">
		<div class="large-6 large-centered columns">
			<f:form action="login" controller="WebTools">
				<f:form.textfield name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][username]" class="form-control" placeholder="Username" />
				<f:form.textfield type="password" name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][password]" class="form-control" placeholder="Password" />
				<f:form.submit value="Login" class="small round button expand center" />
			</f:form>
		</div>
	</div>
</f:section>