{namespace n=Nieuwenhuizen\WebTools\ViewHelpers}
<f:layout name="Default" />

<f:section name="PageTitle">Link Checker</f:section>

<f:section name="Content">
	<div class="row">
		<div class="large-12 large-centered columns">
			<h1>Link Checker</h1>
			<h3 class="subheader">Insert one or multiple uri's and log their response.</h3>
			<hr />
		</div>
	</div>
	<div class="row">
		<div class="large-6 columns">
			<h5>Detailed info on single url</h5>
			<f:form action="LinkChecker" controller="WebTools" package="Nieuwenhuizen.WebTools">
				<div class="row collapse">
					<div class="small-3 large-2 columns">
						<span class="prefix">http://</span>
					</div>
					<div class="small-9 large-8 columns">
						<f:form.textfield placeholder="Enter your URL..." name="singleUri" />
					</div>
					<div class="large-2 columns">
						<f:form.submit value="Check" class="button postfix" />
					</div>
				</div>
			</f:form>
		</div>
		<div class="large-6 columns">
			<h5>See response of multiple url's <sup>(each on newline)</sup></h5>
			<f:form action="linkChecker" controller="WebTools" package="Nieuwenhuizen.WebTools">
				<f:form.textarea name="uris" />
				<f:form.submit class="button posix" value="submit" />
			</f:form>
		</div>
	</div>

	<f:if condition="{responses}">
		<div class="row">
			<div class="large-12 columns">
				<table>
					<thead>
					<tr>
						<th>Url</th>
						<th>Response</th>
					</tr>
					</thead>
					<tbody>
					<f:for each="{responses}" key="website" as="response">
						<tr>
							<td>
								{website}
							</td>
							<td class="success">
								<strong>{f:translate(id: 'http_response.{response}')}</strong>
							</td>
						</tr>
					</f:for>
					</tbody>
				</table>
			</div>
		</div>
	</f:if>

	<f:if condition="{uriResponse}">
		<div class="row">
			<div class="large-6 columns">
				<div data-alert class="alert-box {f:translate(id: 'alert-box.{uriResponse.http_code}')}">
					<strong>{f:translate(id: 'http_response.{uriResponse.http_code}')}</strong> {uriResponse.http_code}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<table>
					<thead>
						<tr>
							<th width="30%">Property</th>
							<th>Value</th>
						</tr>
					</thead>
					<tbody>
						<f:for each="{uriResponse}" key="property" as="detail">
							<n:typeOf type="{0: 'string', 1: 'boolean', 2: 'integer', 3: 'double'}" variable="{detail}">
								<tr>
									<td>{property}</td>
									<td>{detail}</td>
								</tr>
							</n:typeOf>
						</f:for>
					</tbody>
				</table>
			</div>
		</div>
	</f:if>
</f:section>