<f:layout name="Default" />

<f:section name="PageTitle">List</f:section>

<f:section name="Content">
	<div class="row">
		<div class="large-12 large-centered columns">
			<h1>Web Tools</h1>
			<h3 class="subheader">
				Tools meant to make some things in development country just a little bit easier.
			</h3>
			<hr />
		</div>
	</div>
	<div class="row">
		<div class="large-12 large-centered columns">
			<table>
				<thead>
					<tr>
						<th width="30%">Tool</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<f:link.action action="linkChecker" controller="WebTools" package="Nieuwenhuizen.WebTools">
								Link checker
							</f:link.action>
						</td>
						<td>Upload a set of uri's and see their response</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</f:section>